body{
  background-image: url("css/Images/macqueen.jpeg");
  background-size: cover;
  background-position: center;
}

h1{
    color: brown;
    font-size: 35%;
    font-style: oblique;

}

.form-style {
    margin-bottom: 20px; 
    padding: 15px; 
}

.button-style {
    margin-top: 10px; 
    margin-right: 5px; 
}
